@model List<ManagementTool.Framework.Models.Requirement.RequirementVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Requirements</h2>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Category
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(itmodelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRequirement", new { controller = "Requirement", id = item.Id }) |
            @Html.ActionLink("Details", "RequirementDetails", new { controller = "Requirement", id = item.Id }) |
            @Html.ActionLink("Cancel", "Index", new { controller = "Project" })
        </td>
    </tr>
}

</table>