@model ManagementTool.Framework.Models.Requirement.RequirementVM
@{
    ViewBag.Title = "RequirementForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> items = new List<SelectListItem> {
        new SelectListItem { Text = "Development", Value = "Development"},
        new SelectListItem { Text = "Testing", Value = "Testing"},
        new SelectListItem { Text = "Requirements", Value = "Requirements"}
    };
}

<h2>RequirementForm</h2>

@using (Html.BeginForm("AddRequirement", "Requirement", FormMethod.Post))
{
    <div>
        <fieldset>
            <legend></legend>
            
            <div class="editor-label">
                @Html.LabelFor(l => l.Title, "Title")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(l => l.Title)
            </div>
            <div class="editor-label">
                @Html.LabelFor(l => l.Description, "Description")
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(l => l.Description)
            </div>

            <div class="editor-label">
                
                @Html.LabelFor(l => l.Category, "Category")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(l => l.Category, new SelectList(Enum.GetValues(typeof(ManagementTool.Framework.Enums.RequirementCategory))))
            </div>


            @Html.HiddenFor(l => l.ProjectId)
            
            <p>
                <input type="submit" value="submit" />
            </p>
        </fieldset>
    </div>
}