@model ManagementTool.Framework.Models.Requirement.RequirementVM
@{
    var action = (string)ViewBag.ControllerAction;
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    
}

<h2>RequirementForm</h2>

@using (Html.BeginForm(@action, "Requirement", FormMethod.Post, new { @class = "management-form" }))
{
    <div>
        <fieldset>
            <legend></legend>
            
            <div class="editor-label">
                @Html.LabelFor(l => l.Title, "Title")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(l => l.Title, new { required = "" } )
            </div>
            <div class="editor-label">
                @Html.LabelFor(l => l.Description, "Description")
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(l => l.Description, new { required = "" } )
            </div>

            <div class="editor-label">
                
                @Html.LabelFor(l => l.Category, "Category")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(l => l.Category, new SelectList(Enum.GetValues(typeof(ManagementTool.Framework.Enums.RequirementCategory))))
            </div>


            @Html.HiddenFor(l => l.ProjectId)
            @Html.HiddenFor(l => l.Id)
            
            <p>
                <input type="submit" value="submit" />
                @Html.ActionLink("Cancel", "Index", new { controller = "Requirement", id = Model.ProjectId })
            </p>
        </fieldset>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.management-form').validate();
    });
</script>