@model ManagementTool.Framework.Models.Risk.RiskVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var action = (string)ViewBag.ControllerAction;
    var title = (string)ViewBag.PageTitle;
}

<h2>RiskForm</h2>

@using (Html.BeginForm(@action, "Risk", FormMethod.Post, new { @class = "management-form" }))
{
    <div>
        <fieldset>
            <legend></legend>
            @Html.ValidationMessage("ErrorMessage")
            <div class="editor-label">
                @Html.LabelFor(l => l.Title, "Title")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(l => l.Title, new { required = "" } )
            </div>
            <div class="editor-label">
                @Html.LabelFor(l => l.Description, "Description")
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(l => l.Description, new { required = "" } )
            </div>
            <div class="editor-label">
                @Html.LabelFor(l => l.Status, "Status")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(l => l.Status, new SelectList(Enum.GetValues(typeof(ManagementTool.Framework.Enums.RiskStatus))))
            </div>


            @Html.HiddenFor(l => l.ProjectId)
            @Html.HiddenFor(l => l.Id)
            
            <p>
                <input type="submit" value="submit" />
                @Html.ActionLink("Cancel", "Index", new { controller = "Risk", id = Model.ProjectId })
            </p>
        </fieldset>
    </div>
}