@model ManagementTool.Framework.Models.Project.ProjectVM
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateProject</h2>

@using (Html.BeginForm("AddProject", "Project", FormMethod.Post))
{
@Html.LabelFor(l => l.Title, "Title")
@Html.TextBoxFor(l => l.Title)

@Html.LabelFor(l => l.Description, "Description")
@Html.TextBoxFor(l => l.Description)

@Html.LabelFor(l => l.Manager, "Project Manager")
@Html.TextBoxFor(l => l.Manager)

@Html.LabelFor(l => l.DueDate, "Due Date")
@Html.TextBoxFor(l => l.DueDate)

@Html.LabelFor(l => l.Status, "Status")
@Html.TextBoxFor(l => l.Status)

<input type="submit" value="submit" />
}