@model List<ManagementTool.Framework.Models.Project.ProjectVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Status
        </th>
        <th>
            Due Date
        </th>
        <th>
            Project Manager
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(itmodelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @item.DueDate.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProject", new { controller = "Project", id = item.Id }) |
            @Html.ActionLink("Details", "ProjectDetails", new { controller = "Project", id = item.Id }) |
            @Html.ActionLink("View Tasks", "Index", new { controller = "Task", id = item.Id }) |
            @Html.ActionLink("View Requirements", "Index", new { controller = "Requirement", id = item.Id })
        </td>
    </tr>
}

</table>