@model ManagementTool.Framework.Models.Project.ProjectVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Project Details</h2>

@Html.DisplayFor(l => l.Title)

@Html.DisplayFor(l => l.Status)

@Html.DisplayFor(l => l.Description)

@Html.DisplayFor(l => l.Manager)

@Html.DisplayFor(l => l.DueDate)

@Html.ActionLink("Edit", "EditProject", new { controller = "Project", id = Model.Id})
@Html.ActionLink("Cancel", "Index", new { controller = "Project" })