@model ManagementTool.Framework.Models.Project.ProjectVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Project Details</h2>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
        <th>
            Project Manager
        </th>
        <th>
            Project Employees
        </th>
        <th>
            Due Date
        </th>
        <th>

        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(l => l.Title)
        </td>
        <td>
            @Html.DisplayFor(l => l.Description)
        </td>
        <td>
            @Html.DisplayFor(l => l.Status)
        </td>
        <td>
            @Html.DisplayFor(l => l.Manager)
        </td>
        <td>
            @string.Join(", ", Model.ProjectEmployees)
        </td>
        <td>
            @Html.DisplayFor(l => l.DueDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProject", new { controller = "Project", id = Model.Id}) | 
            @Html.ActionLink("Cancel", "Index", new { controller = "Project" })
        </td>
    </tr>
</table>