@model ManagementTool.Framework.Models.Project.ProjectVM
@{
    var action =(string) ViewBag.ControllerAction;
    var title = (string)ViewBag.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@title</h2>

@using (Html.BeginForm(@action, "Project", FormMethod.Post, new { @class = "management-form" } ))
{
    <div>
        <fieldset>
            <legend></legend>
            @Html.ValidationMessage("ErrorMessage")
            <div class="editor-label">
                @Html.LabelFor(l => l.Title, "Title")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(l => l.Title, new { required = "" } )
            </div>
            <div class="editor-label">
                @Html.LabelFor(l => l.Description, "Description")
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(l => l.Description, new { required = "" } )
            </div>

            <div class="editor-label">
                @Html.LabelFor(l => l.Manager, "Project Manager")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(l => l.Manager, new SelectList(Model.CompanyEmployees, "FullName", "FullName"))
            </div>
            <div class="editor-label">
                @Html.LabelFor(l => l.ProjectEmployees, "Project Members")
            </div>
            <div class="editor-field">
                @Html.ListBoxFor(l => l.ProjectEmployees, new MultiSelectList(Model.CompanyEmployees, "FullName", "FullName", Model.ProjectEmployees.AsEnumerable()), new { required = "" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(l => l.DueDate, "Due Date")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(l => l.DueDate, new { required = "" } )
            </div>

            <div class="editor-label">
                @Html.LabelFor(l => l.Status, "Status")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(l => l.Status, new SelectList(Enum.GetValues(typeof(ManagementTool.Framework.Enums.Status))))
            </div>

            @Html.HiddenFor(l => l.Id)
            @Html.HiddenFor(l => l.CompanyId)
            
            <p>
                <input type="submit" value="submit" />
                @Html.ActionLink("Cancel", "Index", new { controller = "Project" })
            </p>
        </fieldset>
    </div>
}