@model List<ManagementTool.Framework.Models.Task.TaskVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var projectId = (int)ViewBag.ProjectId;
}

<h2>Tasks</h2>
<p>
    @Html.ActionLink("Create Task", "CreateTask", new { controller = "Task", id = @projectId }) |
    @Html.ActionLink("Cancel", "Index", new { controller = "Project" })
</p>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Status
        </th>
        <th>
            Due Date
        </th>
        <th>
            Category
        </th>
        <th>
            Hours
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskHours)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTask", new { controller = "Task", id = item.Id }) |
            @Html.ActionLink("Details", "TaskDetails", new { controller = "Task", id = item.Id })
        </td>
    </tr>
}

</table>