@model List<ManagementTool.Framework.Models.Task.TaskVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Status
        </th>
        <th>
            Due Date
        </th>
        <th>
            Category
        </th>
        <th>
            Hours
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @item.DueDate.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskHours)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTask", new { controller = "Task", id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        </td>
    </tr>
}

</table>