@model ManagementTool.Framework.Models.Task.TaskVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
        <th>
            Due Date
        </th>
        <th>
            Category
        </th>
        <th>
            Hours
        </th>
        <th>

        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(l => l.Title)
        </td>
        <td>
            @Html.DisplayFor(l => l.Description)
        </td>
        <td>
            @Html.DisplayFor(l => l.Status)
        </td>
        <td>
            @Html.DisplayFor(l => l.DueDate)
        </td>
        <td>
            @Html.DisplayFor(l => l.Category)
        </td>
        <td>
            @Html.DisplayFor(l => l.TaskHours)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTask", new { controller = "task", id = Model.Id}) | 
            @Html.ActionLink("Cancel", "Index", new { controller = "task", id = Model.ProjectId})
        </td>
    </tr>


</table>