@model ManagementTool.Framework.Models.Task.TaskVM
@{
    var action = (string)ViewBag.ControllerAction;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateTask</h2>

@using (Html.BeginForm(@action, "Task", FormMethod.Post))
{
    <div>
        <fieldset>
            <legend></legend>
        
            <div class="editor-label">
                @Html.LabelFor(l => l.Title, "Title")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(l => l.Title)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(l => l.Description, "Description")
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(l => l.Description)
            </div>

            <div class="editor-label">
                @Html.LabelFor(l => l.DueDate, "Due Date")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(l => l.DueDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(l => l.Category, "Category")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(l => l.Category)
            </div>

            <div class="editor-label">
                @Html.LabelFor(l => l.Status, "Status")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(l => l.Status)
            </div>

            @Html.HiddenFor(l => l.Id)

            <p>
                <input type="submit" value="submit" />
            </p>
        </fieldset>
    </div>
}
